<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ poll.as_p }}</h1>
    <h3>Choices:</h3>
    <br>
    <ul>
        {% for choice in choices %}
            <li>{{ choice.choice_text }}</li>
        {% endfor %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="text" name="" id="">
            <button type="submit">Submit</button>
        </form>
    </ul>
</body>
</html>